body{
    background-color: azure;
    padding: 10%;
}
h1{
    text-align: center;
    font-family:sans-serif;
    color: rgb(51, 3, 51);
}
h2{
    font-family:sans-serif;
    color: rgb(51, 3, 51);
}
p{
    padding: 1%;
    background-color: white;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#createRepo{
    width: 60%;
}
#firstcommit{
    width: 90%;
}
ul{
    background-color: rgb(164, 245, 245);
    border-radius: 10px;
    padding-top:2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}
ol{
    background-color: rgb(164, 245, 245);
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}
li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    border-radius: 10px;
    margin: 1%;
}
